
<h4>SHMEDIUM</h4>
    <center
    <hr>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
    </center>
  </div>
