<div class="well">
    <h3 class="text-center">COMPUTER SCIENCE STUDENT / FUTURE SOFTWARE ENGINEER</h3>
    <hr>
    <h3>Who?</h3>
    <p>
 

I'm a student currently pursuing my BS in Computer Science in California. Previously, I was working in the bay area in the IT field. I am constantly expanding my knowledge of different languages and frameworks, however I have the most familiarity with the Ruby On Rails framework.

When I am not working, I play a lot of basketball, provide tutoring introductory computing concepts, collect records, explore different parks and areas in California, and write.
    
    <br>
    <h3>Skills</h3>
    <p>
      Version Control: Git, GitHub, Bitbucket. Development Tools: Cloud9, Heroku, AWS, Compass<br> Languages: C/C++, Ruby, HTML/CSS <br> Frameworks & Libraries: Ruby on Rails, Node.js, Bootstrap, AngularJS
    </p>
  
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      In a society that is becoming more and more digital, I've been able to create with my hands (fingers and keyboard) when programming. I am confident that this passion of creating, and sharing will eventually lead to a position in Software Engineering where I am contributing to a team, and impacting my community and society in a positive way.    Follow me on <a href="https://twitter.com/jdhaliwal24"><%= fa_icon 'twitter' %> Twitter</a>.
    </p>
    <br>
  
</div>


