<div class="well">
    <h3 class="text-center">COMPUTER SCIENCE STUDENT / FUTURE SOFTWARE ENGINEER</h3>
    <hr>
    <div class="mvp">
    <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAgxAAAAJGE2OWNiMDE0LWVhNmEtNGI0My1hYjNlLWQ5N2RmNTQzY2RjYw.jpg"/>
</div>
    <p>
 
<br>
My name is Brinder S Dhaliwal. I also go by Jack. I'm a student currently pursuing my BS in Computer Science in California. Previously, I was working in the bay area in the IT field. I am constantly expanding my knowledge of different languages and frameworks, however I have the most familiarity with the Ruby On Rails framework.

When I'm not working, I play a lot of basketball, provide tutoring for students in introductory computing concepts, read, collect records, explore different parks and areas in California, write and try to expand my mind as much as possible.
    
    <br>
    <center>
    <h3>Skills</h3>
    <br>
    </center>
    <p>
       <b>Languages:</b> C/C++ (Proficient), Ruby, (Prior Experience), Java (Prior Experience), Javascript (Prior Experience).
       <br>
       <b>Frameworks:</b> Ruby on Rails (Proficient), AngularJS (Prior Experience), Node.js (Prior Experience).
       <br>
       <b>Tools:</b> Git, IFTTT, Arduino, SQLite, Heroku, RESTful APIs, MVC, Ruby Gems, AWS, NPM.
       
       

    </p>
    <center>
    <h3>Why?</h3>
    <br>
    </center>
    <p>
      In a society that is becoming more and more digital, I've been able to create with my hands (fingers and keyboard) when programming. I am confident that this passion of creating, and sharing will eventually lead to a position in Software Engineering where I am contributing to a team, and impacting my community and society in a positive way.   
      <br>
      <br>
      Want to know more? Follow me on <a href="https://twitter.com/jdhaliwal24"><%= fa_icon 'twitter' %> Twitter</a>, or if you would like to contact me, please do so via  <a href="https://www.linkedin.com/in/brinder-dhaliwal-40512792/"><%= fa_icon 'linkedin' %> LinkedIn</a>.
    </p>
    <br>
  
</div>


