<div class="well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What?</h3>
    <p>
      SHMEDIUM is a blog app built using Ruby on Rails. It's free &amp; completely open source. You can check the source on <a href="https://github.com/jackdhaliwal/SHMEDIUM"><%= fa_icon 'github' %> Github</a>. 
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      This is my first "zero to production" app that is more than a simple to-do list. I'd like to be able to publish blog posts, tutorials, and information about other projects I'm working on here while I pursue my Computer Science degree. Follow me on <a href="https://twitter.com/jdhaliwal24"><%= fa_icon 'twitter' %> Twitter</a>.
    </p>
    <br>
    <h3>How?</h3>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is SQLite for development and I will be deploying this app into production via Heroku. Lots and Lots of cool features coming soon!
    </p>
    <br>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
</div>