<div class="well">
    <h3 class="text-center">PROJECTS</h3>

  <div class="DivWithScroll"
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b>   <br><br>
      <b>Technologies:</b> <br><br>
      <b>GitHub:</b> <br><br>
      
    <br>
    
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b>   <br><br>
      <b>Technologies:</b> <br><br>
      <b>GitHub:</b> <br><br>
      
    <br>
    
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b>   <br><br>
      <b>Technologies:</b> <br><br>
      <b>GitHub:</b> <br><br>
      
    <br>
    
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %><br><br>
      
      <b>Motivation:</b>   <br><br>
      <b>Technologies:</b> <br><br>
      <b>GitHub:</b> <br><br>
      
    <br>
   
   </div>

</div>