<div class="well">
    <h3 class="text-center">PROJECTS</h3>
    <hr>
    <h3>biz_directory </h3>
    <p class="text-center">
      A ruby gem I created which lists all registered businesses in San Francisco CA.
    </p>
      <a href="https://rubygems.org/gems/biz_directory"> biz_directory</a>
    <br>
    <h3>How?</h3>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is SQLite for development and I will be deploying this app into production via Heroku. Lots and Lots of cool features coming soon!
    </p>
    <br>
    
    <hr>
    <h3>HoopTime </h3>
    <p class="text-center">
     Find the most popular parks for basketball games in Sacramento.
    </p>
      <%= image_tag("hooptime1.PNG", size: "300x300", :alt => "HoopTime") %>
    <br>
    <h3>How?</h3>
    <p>
      As stated above it's a Ruby on Rails application. Frontend is developed using Twitter Bootstrap. Database is SQLite for development and I will be deploying this app into production via Heroku. Lots and Lots of cool features coming soon!
    </p>
    <br>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/jackdhaliwal/SHMEDIUM" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
</div>