<div class="well">
      <h3> <p class="text-center">
         Tutorials
       </p></h3>
    <p>
     As I continue to progress in my journey to become a software engineer, I aim to eventually have a mastery level understanding of a few fundamental programming languages. What better way to know that I understand the language than to teach it?<br><br>
     Below are a few video tutorials on some basic C/C++ concepts including syntax, variables, statements, loops and more. I hope you are able to learn from them, and furthermore hope for feedback, so i can learn as well.
    </p>
    <br>
    <div class="DivWithScroll">
    <hr>
    <center>
    <h5><i>Simple weight converter using functions </i> </h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/qA23ow_1m54?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe> 
    </p>
    <h5><i>Odd and Even Numbers using IF/ELSE Part 1 of 2</i> </h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/0qJmSDOQXMQ" frameborder="0" allowfullscreen></iframe> 
    </p>
    <br>
    <h5><i>Odd and Even Numbers using IF/ELSE Part 2 of 2</i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/k7BjJwxL0Xs" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
      <h5><i>Area of Irregular Shape Walk Through Part 1 of 2 </i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/JcAPAmIStOU?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
    <h5><i>Area of Irregular Shape Walk Through Part 2 of 2 </i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/fRG-4iJ6XOs?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
    <h5><i>Nested Loops/Patterns Walk-through  </i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/ZhspmEPshks?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
        <h5><i>Loops Walk-through Part 1 of 2 </i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/CmRMc1yo0dk?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
    <h5><i>Loops Walk-through Part 2 of 2  </i></h5>
    <p class="">
     <iframe width="360" height="215" src="https://www.youtube.com/embed/BKeH2Yl_EcI?list=PL8ud3mY4a0w1e3kXqk_uTj4J2skl_jguO" frameborder="0" allowfullscreen></iframe>
    </p>
    <br>
    </center>
    </div>
</div>