
<div class="row">
    <h4><i class="fa fa-twitter-square" aria-hidden="true"></i>
 THE FEED</h4>
        <div class="well">
    <%= render 'posts/write' %>
        </div>


<h4><i class="fa fa-book" aria-hidden="true"></i> What's new?</h4>
<div class="well">
    
    <hr>
    
    <div class="container">
    <div class="content">
        <p>
            Giving the users the ability to express themselves in your application, by giving them, for example, the ability to customize the application and make it more personal, is very important when the users expect this kind of option to be available to them, and even when they don’t!
        </p>
        <p>
            Some examples of allowing users to express and apply their personal identity to an application would be to allow them to change the theme, or use custom emoticons, or change the content and add/remove what they want, change the layout and theme, and so on.
        </p>
    </div>
   
 
   

        </table>
        <footer>
        </footer>
      
   


    

