
<div class="row">
    <h4><i class="fa fa-twitter-square" aria-hidden="true"></i>
 THE FEED</h4>
        <div class="well">
    <%= render 'posts/write' %>
        </div>


<h4><i class="fa fa-book" aria-hidden="true"></i> What's new?</h4>
<div class="well">
    
    <hr>
   
 
   

        </table>
        <footer>
        </footer>
      
   


    

