
<h4>SHMEDIUM</h4>
    <p>Layout based on http://socifyapp.herokuapp.com/. from A blog app including User authentication via Devise Gem, Twitter login via Omniauth/Twitter Gems, Front-end built with Bootstrap-Sass Gems, and Brinder Dhaliwal's first Complete Rails Build. <%= fa_icon 'diamond' %> Ruby on Rails. Source code available on: <a href="https://github.com/jackdhaliwal/"><%= fa_icon 'github' %> Github</a>.</p>
    <center
    <hr>
    <a href="https://github.com/sudharti/socify" class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/sudharti/socify" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
    </center>
  </div>
